<%# Table list for sidebar %>
<% if tables.any? %>
  <% tables.each do |table| %>
    <% 
      # Build table URL with creation filter params if they exist
      table_url_params = {}
      table_url_params[:creation_filter_start] = @creation_filter_start if defined?(@creation_filter_start) && @creation_filter_start.present?
      table_url_params[:creation_filter_end] = @creation_filter_end if defined?(@creation_filter_end) && @creation_filter_end.present?
    %>
    <%= link_to dbviewer.table_path(table[:name], table_url_params), 
                title: table[:name],
                class: "list-group-item list-group-item-action d-flex align-items-center #{'active' if current_table?(table[:name])}", 
                tabindex: "0", 
                data: { table_name: table[:name] } do %>
      <div class="d-flex justify-content-between align-items-center w-100">
        <div class="text-truncate">
          <i class="bi bi-table me-2 small"></i>
          <span><%= table[:name] %></span>
        </div>
        <% if table[:record_count].present? %>
          <span class="badge bg-light text-dark fw-normal">
            <%= number_with_delimiter(table[:record_count]) %>
          </span>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="list-group-item text-muted small">
    <i class="bi bi-info-circle me-1"></i>
    No tables found in this database
  </div>
<% end %>
