/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/sample/app/db/*.sqlite3
/sample/app/db/*.sqlite3-*
/sample/app/log/*.log
/sample/app/storage/
/sample/app/tmp/
/sample/app/.env
/sample/app/dbviewer_development-*
*.gem
.env
.env.*
!.env.example